.main header{
    margin: 0 auto;
    width: 902px;
    
}

a{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-decoration: none; 
    font-weight: 500;
    letter-spacing: -1px;
}
a:hover{
    color: blue;
}
.main nav{
    margin: 77px;
    text-align: center;
   
    color: rgb(98, 98, 98);

}
.main nav li{
    display: inline-block;
    cursor: pointer;
}
.main nav li:not(:last-child){
    margin-right: 120px;
}
h2{
    font-size: 30px;
    color: gray;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 30px;

   
}
.text{
    font-size: 14px;
    color: rgb(98, 98, 98);
    font-family: 'Playfair Display', serif;
}

.category{
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(180, 173, 158);
    line-height: 1.2;
}


.d{
    display: inline-block;
    width: 420px;
}
.wrapper{
    margin: 0 auto;
    width: 901px;
   
}
img{
    width:420px;
}

.d2, .d4, .d6   {
    margin-left:55px;
}
.d1, .d2 {
    margin-top: 26px;
    margin-bottom: 70px;
}
.d3, .d4, .d5, .d6{
    margin-top: 70px;
}
.d3, .d4{
    margin-bottom: 70px;
}


.b1{
   width: 160px; 
   height: 60px;
   font-size: 20px;
   font-family: 'Playfair Display', serif;
   display:block;
   position: relative;
   margin: 0 auto;
   margin-top: 60px;
   margin-bottom: 60px;
   outline: 60px;
}
