html{
    box-sizing: border-box;

}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.clearfix {
    display: table;
    content: "";
    clear: both;
  }
.page-header{
    width: 1110px;
    height: 90px;
    margin: 0 auto;
    padding: 34px 0;

}
.snav li{
    display: inline-block;
    text-transform: uppercase;
}

.logo a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    /*font-size: 30px;
    font-family: 'Roboto', sans-serif;*/
    margin-top: 0px;
}
.snav li:not(:last-child){
    margin-right: 18px;
}
.nav {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
     
}
.snav a {
    text-decoration: none;
    
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
}
.snav{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    display: inline-block;
    width: 1021px;
    height: 24px;
    text-decoration: none;
    text-align: right;
    vertical-align: middle;
}
.logo::first-letter{
    color: lightseagreen;
    font-weight: 900;
}
.snav a:hover{
    color: lightseagreen;
    cursor: pointer;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
}
main{
    text-align: center;
}
.products{
    display: inline-block;
}
.item-block {
    background-color: rgb(233, 240, 253);
    width: 255px;
    height: 322px;
    display: inline-block; 
    margin-right: 26px;
    position: relative;

}

.item-block:nth-child(4n+1){
    margin-right: 0;
}
.item-block:nth-child(-n + 3){
    margin-top: 40px;
}
/*.b5, .b6, .b7, .b8{
    margin-bottom: 105px;
}*/

.name-item{
    position: absolute;
    bottom:0;
    left:0;
    width: 255px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 12px;
}
.item-block:hover .name-item{
    background: lightseagreen;
    cursor: pointer;
}
.item-block .price-item:hover{
    cursor: pointer;
}
.price-item{
    position: absolute;
    bottom:0;
    right:0;
    width: 55px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.439);
}

.parent{
    width: 350px;
    height: 260px;
    display: inline-block;
    margin-top: 15px;
}
.parent:not(:last-child){
    margin-right: 26px;
}
.name-im{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 17px;
    line-height: 1.625;
    color: rgb(85, 82, 82);

}
.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.625;
    margin-top: 32px;
    color: rgb(85, 82, 82);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
h2{
    margin: 110px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1px;
    color: rgb(81, 81, 81);
    text-align: center;
    line-height: 0.667;
}
h2::after{
    display: block;
    content: "";
    margin: 0 auto;
    height: 7px;
    width: 164px;
    background-color: #4ec6ab;
    margin-top: 33px;
}

.button {
    border-radius: 5px;
    background-color: rgb(78, 198, 171);
    width: 159px;
    height: 51px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
    margin-top: 20px;
}
.name-im::after{
    display: block;
    content: "";
    background-color: rgb(78, 198, 171);
    position: absolute;
    margin-top: 10px;
    width: 136px;
    height: 3px;
    z-index: 8;
}

.Lorem_Ipsum__Proin_gravida_nibh_vel_velit_aucto {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(85, 82, 82);
    line-height: 1.444;
    position: absolute;
    left: 641.844px;
    top: 1560.89px;
    width: 301px;
    height: 44px;
    z-index: 20;
  }
  